# Terraform
.terraform/
.terraform.lock.hcl

# Terraform State
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Terraform variable files
*.tfvars
!example.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI
.terraformrc
terraform.rc
